.auth-page{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.auth-header{

    text-align:center;

    margin-bottom:35px;

}

.auth-header h1{

    margin-bottom:12px;

}

.auth-header p{

    font-size:17px;

}

.auth-form{

    display:flex;

    flex-direction:column;

}

.auth-links{

    margin-top:25px;

    text-align:center;

}

.auth-links p{

    font-size:16px;

}

.auth-links a{

    font-weight:700;

    color:var(--primary-dark);

}

.auth-links a:hover{

    color:var(--primary);

}